body {
    text-align: center;
    margin: 0;
}

.main-block {
    background-color: rgb(255, 215, 106);
    width: 1000px;
    margin: 20px auto;
    border: 3px solid black;
    padding: 20px;
}

.main-block.recipe {
    padding-top: 10px;
}

.title {
    background-color: rgb(255, 232, 167);
    margin: 0px;
}

.title.recipe {
    margin: 10px 0;
}

.title.text {
    padding: 10px;
}

.links {
    background-color: rgb(255, 232, 167);
    margin: 20px auto 0 auto;
    width: 300px;
    padding: 10px 100px;
}

.links div {
    background-color: white;
    padding: 8px;
    margin: 10px;
}

.white-box {
    display: inline-block;
    background-color: white;
    padding: 5px 0px;
    width: 520px;
}

.list {
    text-align: left;
    display: inline-block;
    width: 500px;
}

img {
    width: 1000px;
    height: auto;
    margin: 10px 0;
}